<%- include ('partials/header.ejs'); %>

<%- include ('partials/main_navbar.ejs'); %>


  <!-- Home content -->
  <div class="home" style="background-image: url('/Assets/images/home1.jpg'); background-position: center;
  background-size: cover;  ">
    <div>
    <h2 style="color :cornflowerblue"><br><Marquee>Welcome to my Portfolio site!</Marquee><br></h2>
    </div>

    <div class="container" style="text-align: center;">
      <h3 style="color: white;"><br><br><br><u>Mission Statement</u><br></h3>
      <h5 style="color :darkorange ;">IT student with aptitude for Website Development. <br>To lead my team by example, to inspire them as they inspire me, and to share that inspiration with our customers.</h5>
    </div>
    
    <div class="container" style="text-align: center;">
    <h4 style="color: white;"><br><br><br>New here? Go to:<br></h4>
  </div>

  <!-- Page navigation buttons -->
  <div class="container" style="text-align: center;">
    <a href="/about"><button type="button" class="btn btn-dark">About Me</button></a>
    <a href="/projects"><button type="button" class="btn btn-secondary">Projects</button></a>
    <a href="/services"><button type="button" class="btn btn-dark">Services</button></a>
    <a href="/contact"><button type="button" class="btn btn-secondary">Contact Me</button></a>
    <a href="/login"><button type="button" class="btn btn-dark">Log In</button></a>
    <a href="/register"><button type="button" class="btn btn-secondary">Sign Up</button></a>
    <br><br><br><br><br><br><br><br>
  </div>
</div>

<%- include ('partials/bottom_navbar.ejs'); %>

<%- include ('partials/footer.ejs'); %>

  